<div class="pac-wrap">
<div class="lds-css ng-scope">
  <div class="lds-pacman">
    <div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
