.bg-gradient {
background: #343a40;
background: -moz-linear-gradient(left, #343a40 40%, #2989d8 88%, #7db9e8 100%);
background: -webkit-linear-gradient(left, #343a40 40%,#2989d8 88%,#7db9e8 100%);
background: linear-gradient(to right, #343a40 40%,#2989d8 88%,#7db9e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a40', endColorstr='#7db9e8',GradientType=1 );
}