<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <mat-card class="text-center">
        <h1>Weather Wherever</h1>
        <p>Thank you for reviewing my assessment and welcome to my weather app!</p>
        <p>Allow the app access to your location
          to see the weather in your area.</p>
        <p>Curious about your neighbours weather? No problem, put an address in the fields next to the map and click
          "GO". Remember
          to put in the country, it's required (because we only do weather restricted to earth) ;) </p>
        <p>When all is said and done and you want to try your hand at leveling up the weather app again, click NUKE IT!</p>
        <p>Cool features about the app:</p>
        <ol class="text-left">
          <li>The app has a map so you can see your location on the map with the corresponding weather below it</li>
          <li>You can search anywhere in the world and get their live weather update</li>
          <li>You load/update the map and Pac Man appears for a snack (I probably hit "Nuke IT" 50 times to just watch
            him go lol)</li>
          <li>The map is styled, Google owns everything but this map is wild and free... well almost.</li>
          <li>The markers are dynamic if the weather is cold the marker is blue, if it's hot well it's not blue :)</li>
          <li>Angular Reactive Form validation makes a guest appearance just to make sure you put that country in.</li>
        </ol>

      </mat-card>
    </div>
  </div>
  <div class="row mar40top justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="map-container">
        <app-spinner *ngIf="!map_loaded"></app-spinner>
        <agm-map [zoom]="10" id="mapwrap" [latitude]="latitude" [longitude]="longitude" [disableDefaultUI]="true" [zoomControl]="true"
          [styles]="styles" (mapReady)="spinnerTime()">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="markerIconUrl()">
          </agm-marker>
        </agm-map>
      </div>
      <button mat-fab class="mar20top" value="Refresh" onClick="window.location.href=window.location.href">Nuke IT!</button>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <mat-form-field>
        <input [(ngModel)]='address_level_1' matInput placeholder="No. & Street">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]='address_level_2' matInput placeholder="City">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]='address_state' matInput placeholder="Province">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]='address_country' matInput placeholder="Country" [formControl]="country" required>
        <mat-error *ngIf="country.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]='address_zip' matInput placeholder="Postal Code">
      </mat-form-field>
      <button mat-fab color="primary" (click)='updateOnMap()' type="submit" [disabled]="country.invalid">GO!</button>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-12">
      <mat-card class="mar40top text-center">
        <h2>Weather Wherever</h2>
        <p>Temperature (Celcius): {{this.temp}}</p>
        <p>Temperature Minimum: {{this.temp_min}}</p>
        <p>Temperature Maximum: {{this.temp_max}}</p>
        <p>Humidity: {{this.humidity}}</p>
        <p>Pressure: {{this.pressure}}</p>
        <p>Address Entered:</p>
        <p>{{this.formatted_address}}</p>
      </mat-card>
    </div>
  </div>
</div>
