#mapwrap {
    height: 290px;
    width: 290px;
  }

  .map-container {
    position: relative;
    }

    .mat-form-field {
      width: 80%;
    }

    button {
      display: block;
    }

    .mar40top {
      margin-top: 40px;
    }
    
    .mar20top {
      margin-top: 20px;
    }
    
    *:focus {
      outline: none !important;
      outline: 0px auto -webkit-focus-ring-color !important;
    }